#tree-watch-dialog {
	padding: 14px;
}
#tree-watch-dialog-body {
	height: 390px;
}
#tree-watch-dialog-footer {
	height: 32px;
}
#tree-watch-toggle-div {
	margin-top: 15px;
}
#tree-watch-info {
	font-size: smaller;
}