<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
   		<script src="//connect-cdn.atl-paas.net/all.js" type="text/javascript"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>   		
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aui/9.7.1/aui/aui-prototyping.min.css" integrity="sha512-MPdTbbdXvlcVvBY608oiSljIMnLgNiOb1Zi1j1kUoYUtrYRmFhqzZU2V2hmibBnnfnM5+/kTi9186cL1N9cgcw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/aui/9.7.1/aui/aui-prototyping.min.js" integrity="sha512-kLBpVZfZ2PI4b9hmpRZ7TiASn76dV4t0FPSjbchBc1lt+JJsUVHLAMG1kPR0LPhWgQpfd7ea85GaqFTXhQLCyg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script th:src="@{/js/theme.js}" type="text/javascript" defer></script>
 		<script th:src="@{/js/configure.js}" type="text/javascript" defer></script>
    </head>
	
	<body style="background-color:transparent; overflow:hidden">
		<div class="ac-content" style="overflow-y:auto;padding:3px">
			<form class="aui top-label">
				<h2 th:text="#{tree-view-cloud.conf.general}"></h2>
				<fieldset class="group">
					<div class="field-group">
						<label for="added-title" th:text="#{tree-view-cloud.conf.added-title.title}"></label>
						<input class="text long-field" name="added-title" id="added-title"></input>
						<div class="description" th:text="#{tree-view-cloud.conf.added-title.desc}"></div>
					</div>
					<div class="field-group">
						<label for="added-body" th:text="#{tree-view-cloud.conf.added-body.title}"></label>
						<textarea class="textarea long-field" name="added-body" id="added-body" rows="3"></textarea>
						<div class="description" th:text="#{tree-view-cloud.conf.added-body.desc}"></div>
					</div>
					<div class="field-group">
						<label for="movedout-title" th:text="#{tree-view-cloud.conf.movedout-title.title}"></label>
						<input class="text long-field" name="movedout-title" id="movedout-title"></input>
						<div class="description" th:text="#{tree-view-cloud.conf.movedout-title.desc}"></div>
					</div>
					<div class="field-group">
						<label for="movedout-body" th:text="#{tree-view-cloud.conf.movedout-body.title}"></label>
						<textarea class="textarea long-field" name="movedout-body" id="movedout-body" rows="3"></textarea>
						<div class="description" th:text="#{tree-view-cloud.conf.movedout-body.desc}"></div>
					</div>
					<div class="checkbox">
	            		<input class="checkbox" type="checkbox" name="conditional-watch" id="conditional-watch">
	            		<label for="conditional-watch" th:text="#{tree-view-cloud.conf.conditional-watch.title}"></label>
	        		</div>
	        		<div class="description" th:text="#{tree-view-cloud.conf.conditional-watch.desc}"></div>
				</fieldset>		
				<h2 th:text="#{tree-view-cloud.conf.mail}"></h2>
				<fieldset class="group">
					<select class="select" id="mail-server" name="mail-server">
	            		<option value="internal" th:text="#{tree-view-cloud.conf.mail-server.internal}"></option>
	            		<option value="external" th:text="#{tree-view-cloud.conf.mail-server.external}"></option>
	            	</select>
            	</fieldset>
            	<fieldset class="group" id="external" style="display:none">
            		<div class="aui-message aui-message-info" style="margin-top:5px">
            			<p th:text="#{tree-view-cloud.conf.mail-server.external.hint}"></p>
            		</div>
            		<div class="field-group">
						<label for="from-address" th:text="#{tree-view-cloud.conf.from-address.title}"></label>
						<input class="text" name="from-address" id="from-address"></input>
						<div class="description" th:text="#{tree-view-cloud.conf.from-address.desc}"></div>
					</div>
          			<div class="field-group">
						<label for="host" th:text="#{tree-view-cloud.conf.host.title}"></label>
						<input class="text" name="host" id="host"></input>
						<div class="description" th:text="#{tree-view-cloud.conf.host.desc}"></div>
					</div>
              		<div class="field-group">
						<label for="port" th:text="#{tree-view-cloud.conf.port.title}"></label>
						<input class="text" name="port" id="port"></input>
						<div class="description" th:text="#{tree-view-cloud.conf.port.desc}"></div>
					</div>
					<div class="field-group">
						<label for="user" th:text="#{tree-view-cloud.conf.user.title}"></label>
						<input class="text" name="user" id="user"></input>
						<div class="description" th:text="#{tree-view-cloud.conf.user.desc}"></div>
					</div>
					<div class="field-group">
						<label for="password" th:text="#{tree-view-cloud.conf.password.title}"></label>
						<input class="text" name="password" id="password" type="password" th:data-set-password="#{tree-view-cloud.conf.password.set}"></input>
						<div class="description" th:text="#{tree-view-cloud.conf.password.desc}"></div>
					</div>
					<div class="field-group">
						<label for="recipient" th:text="#{tree-view-cloud.conf.recipient.title}"></label>
						<input class="text" name="recipient" id="recipient"></input>
						<button class="aui-button" type="button" id="test" th:text="#{tree-view-cloud.conf.test}">Test</button>
						<div class="description" th:text="#{tree-view-cloud.conf.recipient.desc}"></div>
					</div>   		
            	</fieldset>		
				<div style="margin-top:20px">
					<button class="aui-button" type="button" id="save" th:text="#{tree-view-cloud.conf.save}">Save</button>
					<button class="aui-button" type="button" id="delete-settings" style="display:none">Delete settings</button>
					<aui-spinner id="saveInProgress" size="small" style="display:inline-block;"></aui-spinner>
				</div>
			</form>
		</div>
		
		<div style="display:none">
			<p id="defaultAddedTitle" th:text="#{tree-view-cloud.conf.default.added-title}"></p>
			<p id="defaultAddedBody" th:text="#{tree-view-cloud.conf.default.added-body}"></p>
			<p id="defaultMovedoutTitle" th:text="#{tree-view-cloud.conf.default.movedout-title}"></p>
			<p id="defaultMovedoutBody" th:text="#{tree-view-cloud.conf.default.movedout-body}"></p>
			<p id="testSuccessTitle" th:text="#{tree-view-cloud.conf.test.sucess.title}"></p>
			<p id="testSuccessBody" th:text="#{tree-view-cloud.conf.test.sucess.body}"></p>
			<p id="testErrorTitle" th:text="#{tree-view-cloud.conf.test.error.title}"></p>
		</div>
	</body>
</html>