<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aui/9.7.1/aui/aui-prototyping.min.css" integrity="sha512-MPdTbbdXvlcVvBY608oiSljIMnLgNiOb1Zi1j1kUoYUtrYRmFhqzZU2V2hmibBnnfnM5+/kTi9186cL1N9cgcw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  		<script src="//connect-cdn.atl-paas.net/all.js" type="text/javascript"></script>
 		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/aui/9.7.1/aui/aui-prototyping.min.js" integrity="sha512-kLBpVZfZ2PI4b9hmpRZ7TiASn76dV4t0FPSjbchBc1lt+JJsUVHLAMG1kPR0LPhWgQpfd7ea85GaqFTXhQLCyg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script th:src="@{/js/theme.js}" type="text/javascript" defer></script>
 		<script th:src="@{/js/tree-watch-overview.js}" type="text/javascript" defer></script>
 		<script th:src="@{/js/shared-functions.js}" type="text/javascript"></script>
		<link rel="stylesheet" th:href="@{/css/tree-watch-overview.css}" media="all"/>		
    </head>
	
	<body style="overflow:hidden; background-color:transparent">
		<div class="ac-content" style="overflow-y:auto;">
			<div id="tree-watches-all" th:data-account-id="${accountId}" th:data-base-url="${baseUrl}">
				<h1 th:text="#{tree-view-cloud.overview.allWatches}"></h1>
				<aui-spinner id="tree-watch-overview-spinner" size="small"></aui-spinner>
				<p id="no-tree-watches" style="display:none" th:text="#{tree-view-cloud.overview.noWatches}"></p>
			</div>
		</div>	
		
		<div style="display:none">
			<p id="errorTitle" th:text="#{tree-view-cloud.error.title}"></p>
			<p id="errorDeleteWatch" th:text="#{tree-view-cloud.error.delete-watch}"></p>
			<p id="successTitle" th:text="#{tree-view-cloud.success.title}"></p>
			<p id="successDeleteWatch" th:text="#{tree-view-cloud.success.delete-watch}"></p>
			<p id="stopWatching" th:text="#{tree-view-cloud.overview.stop-watching}"></p>
		</div>	
	</body>	
</html>