<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
  		<script src="//connect-cdn.atl-paas.net/all.js" type="text/javascript"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aui/9.7.1/aui/aui-prototyping.min.css" integrity="sha512-MPdTbbdXvlcVvBY608oiSljIMnLgNiOb1Zi1j1kUoYUtrYRmFhqzZU2V2hmibBnnfnM5+/kTi9186cL1N9cgcw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/aui/9.7.1/aui/aui-prototyping.min.js" integrity="sha512-kLBpVZfZ2PI4b9hmpRZ7TiASn76dV4t0FPSjbchBc1lt+JJsUVHLAMG1kPR0LPhWgQpfd7ea85GaqFTXhQLCyg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
		<script th:src="@{/js/theme.js}" type="text/javascript" defer></script>
		<script th:src="@{/js/tree-watch-dialog.js}" type="text/javascript" defer></script>
		<script th:src="@{/js/shared-functions.js}" type="text/javascript"></script>
		<link rel="stylesheet" th:href="@{/css/tree-watch-dialog.css}" media="all"/>
    </head>
	
	<body style="background-color:var(--ds-surface-overlay, white)">
		<div id="tree-watch-dialog" th:data-account-id="${accountId}" th:data-page-id="${pageId}" th:data-space-key="${spaceKey}">
			<h2 th:text="#{tree-view-cloud.dialog.title}"></h2>
			<div th:if="${licensed}" id="tree-watch-dialog-body" th:data-page-id="${pageId}" th:data-status="${status}">
				<form class="aui top-label">
					<div id="tree-watch-toggle-div">
						<aui-toggle label="tree-watch-toggle" id="tree-watch-toggle"></aui-toggle>
						<span th:text="#{tree-view-cloud.dialog.toggle}">Watch</span>
					</div>
				</form>
				<div id="tree-watch-info" class="aui-message aui-message-info">
					<p th:text="#{tree-view-cloud.dialog.info.on}"></p>
					<p th:text="#{tree-view-cloud.dialog.info.off}"></p>
				</div>
			</div>
			<div th:unless="${licensed}" id="tree-watch-dialog-body">
				<div class="aui-message aui-message-warning edit-inherit-message">
				    <p class="title">
				    	<strong>[[#{tree-view-cloud.dialog.license.title}]]</strong>
				    </p>
				    <p>[[#{tree-view-cloud.dialog.license.body}]]</p>
				</div>
			</div>
			<div id="tree-watch-dialog-footer">
				<button id="tree-watch-apply" class="aui-button aui-button-primary" th:text="#{tree-view-cloud.dialog.apply}" aria-disabled="true" disabled>Apply</button>
				<button id="tree-watch-cancel" class="aui-button aui-button-link" th:text="#{tree-view-cloud.dialog.cancel}">Cancel</button>
			</div>
		</div>
		
		<div style="display:none">
			<p id="errorTitle" th:text="#{tree-view-cloud.error.title}"></p>
			<p id="errorSetWatchConflict" th:text="#{tree-view-cloud.error.set-watch-conflict}"></p>
			<p id="errorSetWatch" th:text="#{tree-view-cloud.error.set-watch}"></p>
			<p id="errorDeleteWatch" th:text="#{tree-view-cloud.error.delete-watch}"></p>
			<p id="errorGetWatch" th:text="#{tree-view-cloud.error.get-watch}"></p>
			<p id="successTitle" th:text="#{tree-view-cloud.success.title}"></p>
			<p id="successSetWatch" th:text="#{tree-view-cloud.success.set-watch}"></p>
			<p id="successDeleteWatch" th:text="#{tree-view-cloud.success.delete-watch}"></p>
		</div>
	</body>
</html>